<template>
	<div>
		<page-title :title="$t('title')" />
		<admin-list getUrl="abcd/admin/sets-meta" delUrl="abcd/admin/sets/"/>
  	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import AdminList from 'Main/components/AdminList.vue';

export default {
	name: 'abcd-admin',
	components: { PageTitle, AdminList},
}
</script>





<i18n src="../locales/Admin.json"/>