<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('description')" :button="$t('manual')" buttonhref='#/text-abcd-help'/>

		<div class="container mt-3">
			<wait-icon v-if="loading"/>

			<index-list
			:items="allSets" :fields="['title','desc','subject','owner']"
			:actions="['start','edit','share','duplicate','export','delete','import','new']"
			role="abcd"
			resturl="abcd/sets" restkey="abcd"
			v-on:start="start" v-on:edit="edit" v-on:share="share" v-on:export="exportJson" v-on:reload="loadMeta"
			v-on:new="showModalCreate=true" />
		</div>

		<modal-dialog v-show="showModalCreate" v-on:accept="create()" v-on:close="showModalCreate=false">
			<template v-slot:header>{{$t('create-new-set')}}</template>
			<p>{{$t('create-new-text1')}}</p>
			<p>{{$t('create-new-text2')}}</p>
			<div class="form-group">
				<input class="form-control" v-model="createTitle" :placeholder="$t('hint-title')">
			</div>
		</modal-dialog>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :url="shareUrl"/>
  	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import ModalShare from 'Main/components/ModalShare.vue';
import ModalDialog from 'Main/components/ModalDialog.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';
import IndexList from 'Main/components/ABCDList.vue';
import store from 'Main/js/store.js';
import download from 'Main/js/download.js';
import generator from 'Main/js/password-generator';

export default {
	name: 'home',
	components: { PageTitle,  ModalShare, ModalDialog, WaitIcon, IndexList },
	data: function() {
		return {
			allSets:[],
			shareUrl:'',
			loading:true,
			hasRole:false,
			//create
			showModalCreate:false,
			createTitle:''
		}
	},
	mounted: function() {
		this.hasRole=store.user.hasRole('abcd');
		if (!this.hasRole) return this.$router.push({name:'abcd-login'});
		this.loadMeta();
	},
	methods: {
		share: function(set) {
			var ticket=set.ticket;
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/abcd-show/'+ticket;
		},
		start: function(set) {
			this.$router.push({name:'abcd-run',params:{id:set._id}})
		},
		exportJson: async function(set) {
			var abcd=await this.getSet(set)
			download.downloadJson(abcd);
		},
		getSet: async function(set) {
			var response=await this.$axios.get('abcd/sets/'+set._id);
			var abcd=Object.assign({}, response.data);
			//remove unecessary information
			delete abcd._id;
			delete abcd.__v;
			delete abcd.owner;
			for (var question of abcd.questions) {
				delete question._id;
			}
			return abcd;
		},
		create: function() {
			this.$router.push({name:'abcd-edit',params:{title:this.createTitle}})
		},
		edit: function(set) {
			this.$router.push({name:'abcd-edit',params:{id:set._id}})
		},
		loadMeta: function() {
			this.loading=true;
			this.$axios.get('abcd/sets-meta').then(response=> {
				this.allSets=response.data;
				this.loading=false;
			})
		}
	}
}
</script>

<i18n src="../locales/Index.json"/>
