<template>
	<div>
		<center class="my-4 form-signin" v-if="state=='login'">
			<img class="my-2 loginIcon" src="../img/abcd.svg">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<div>
				<input class="form-control" v-model="nickname" :placeholder="$t('enter-nickname')"
					:class="{'is-invalid':!$v(nickname,true,$consts.REGEX_NICKNAME)}">
				<input class="form-control" v-show="showInputKey" v-model="key" :placeholder="$t('enter-key')" required>
			</div>
			<button class="my-2 btn btn-lg btn-primary btn-block" v-on:click="start()">{{$t('next')}}</button>
			<p class="my-4">{{$t('author-info')}}</p>
		</center>

		<div v-if="state=='vote'">
			<page-title :title="$t('title')"/>
			<div class="container mt-3">
				<div clas="form-group">
					<button v-for="i in 4" class="btn bg-var text-white form-control vote" v-on:click="vote(i-1)">{{['A','B','C','D'][i-1]}}</button>
				</div>
			</div>

			<modal-info v-show="message" v-on:close="message=''">
				<p>{{message}}</p>
			</modal-info>
		</div>
	</div>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';
	import ModalInfo from 'Main/components/ModalInfo.vue';
	import WarningList from 'Main/components/WarningList.vue';
	import color from 'Main/js/color.js';

	export default {
		components: {WarningList, PageTitle, ModalInfo},
		data: function() {
			return {
				warnings:[],
				key:'',
				nickname:'',
				showInputKey:false,
				state:'login',
				message:'',
				token:''
			}
		},
		mounted: function() {
			var key=this.$route.params.key;
			if (key) this.key=key;
			else this.showInputKey=true;
		},
		updated: function() {
			color.setBgVar();
		},
		methods: {
			start: function() {
				this.$axios.post('abcd/part/login',{key:this.key, nickname:this.nickname}).then(response=> {
					if (response.data[0]) this.warnings=response.data;
					else {
						this.state='vote';
						this.token=response.data.token;
					}
				})
			},
			vote: function(num) {
				this.$axios.post('abcd/part/vote', { option: num, key:this.key, nickname:this.nickname, token:this.token }).then(response=> {
					if (response.data[0]) this.message=this.$t(response.data[0].msg);
					else {
						this.message=this.$t(response.data.message);
						setTimeout(() => { this.message=''; }, 3000);
					}
				})
			}
		}
	}
</script>

<style>
	button.vote {height:4rem;font-size:200%;margin-bottom:1em}
</style>

<style src="Main/css/signin.css"/>

<i18n src="../locales/Part.json"/>
