<template>
	<div>
		<page-title :title="abcd.title" :subtitle="$t('title')"/>
		<div class="container mt-6">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<show-question v-for="question in abcd.questions" :question="question" :key="question.id"/>
		</div>
	</div>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';
	import WarningList from 'Main/components/WarningList.vue';
	import ShowQuestion from '../components/ShowQuestion.vue';
	import color from 'Main/js/color.js';
	import md from 'Main/js/markdown.js';
	export default {
		components:{PageTitle,ShowQuestion,WarningList},
		data:function() {
			return {
				abcd:{},
				md:md,
				helpText:false,
				warnings:false
			}
		},
		mounted: function() {
			var ticket=this.$route.params.ticket;
			this.$axios.get('abcd/part/sets/'+ticket).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.abcd=response.data;
			})
		},
		updated: function() {
			color.setBgVar();
		},
	}
</script>

<style src='../../../node_modules/katex/dist/katex.min.css'/>





<i18n src="../locales/Show.json"/>
