<template>
	<div class="card my-3 shadow">
		<div class="card-header bg-dark text-white">
			<tooltip-icon  v-if="question.info && !showHelp" :tip="$t('help')" class="float-right" src="~Main/img/help.svg" v-on:click="showHelp=true;" invert="true"/>
			<span v-html="md.render(question.text)"/>
		</div>
		<div class="card-body">
			<div class="row my-4" v-if="question.image">
				<div class="col-md-4">
					<img class="mb-3 align-middle" style='width:100%' :src="question.image">
				</div>
				<div class="col-md-8">
					<show-options :question="question" v-on:correct="$emit('correct')" v-on:wrong="$emit('wrong')"/>
				</div>
			</div>
			<div v-else>
				<show-options :question="question" v-on:correct="$emit('correct')" v-on:wrong="$emit('wrong')"/>
			</div>
			<div v-show="showHelp">
				<hr>
				<p v-html="md.render(question.info)"/>
			</div>
		</div>
	</div>
</template>

<script>
	import TooltipIcon from 'Main/components/TooltipIcon.vue';
	import ShowOptions from '../components/ShowOptions.vue';
	import md from 'Main/js/markdown.js';
	export default {
		components:{TooltipIcon,ShowOptions},
		name:'show-question',
		props: ['question'],
		data:function() {
			return {
				md:md,
				helpText:'',
				showHelp:false
			}
		}
	}
</script>


<i18n src="../locales/ShowQuestion.json"/>
